@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url('modelo.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #132440;
    --cor-texto: #FFFFFF;
    --cor-destaque: #0F828C;

    --cor-adicionar: #1581BF;
    --cor-reiniciar: #2E2E2E;
    --cor-sortear: #FF4500;
    --cor-erro: #BF1A1A;
    --cor-sucesso: #3A6F43;
}

body {
    background: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'JetBrains Mono', sans-serif;
}

a {
    text-decoration: none;
}

.conteudo {
    padding: 2rem;
}

.conteudo__secao {
    gap: 2.3rem;
    flex: 1 1 50%;
}

.conteudo__titulo {
    font-size: 3rem;
    font-weight: 900;
}

.conteudo__subtitulo {
    font-size: 2rem;
    font-weight: 700;
}

.conteudo__texto {
    font-size: 1.5rem;
    font-weight: 400;
}

.conteudo__destaque {
    color: var(--cor-destaque);
    font-weight: bold;
}

.conteudo__tag {
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 0.3rem;
}

.conteudo__caixa-texto {
    background: var(--cor-fundo);
    border: 0.2rem solid var(--cor-texto);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--cor-texto);
    outline: none;
    width: 100%;
}

.conteudo__caixa-texto::placeholder {
    color: var(--cor-texto);
}

.conteudo__botao {
    color: var(--cor-texto);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.7rem 2.3rem;
}

.conteudo__botao:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.conteudo__mensagem {
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
}

.conteudo__mensagem-erro {
    animation-name: animarMensagemPelaLateral;
    animation-duration: 1s;
}

.conteudo__caixa {
    border: 0.3rem solid var(--cor-texto);
    border-radius: 0.5rem;
    font-size: 2.3rem;
    font-weight: bold;
    padding: 0.8rem 2rem;
}

.conteudo__imagem {
    border: 0.3rem solid var(--cor-adicionar);
    border-radius: 0.5rem;
    width: 100%;
}

.conteudo__opacidade {
    cursor: not-allowed;
    opacity: 0.5;
}

@keyframes animarMensagemPelaLateral {
    to {
        width: 450px;
    }

    from {
        width: 700px;
    }
}

@media screen and (max-width: 1024px) {
    .conteudo {
        flex-direction: column;
    }

    .conteudo__secao:nth-child(1) {
        border-bottom: 0.3rem solid var(--cor-texto);
        padding-bottom: 2rem;
        width: 100%;
    }
}